@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:ital,wght@0,200;0,400;1,300&family=Roboto&family=Roboto+Mono&family=Rubik&display=swap');

@keyframes float {
    0%{
        transform: translateY(0); /*The starting point of the animation is 0.*/
    }
    50%{
        transform: translateY(-1rem); /*The middle point of the animation is -15xp. This will move the element up.*/
    }
    100%{
        transform: translateY(0); /*The last point of the animation is going back to the starting state of 0.*/
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


.fondo{
    background:linear-gradient(to right,rgba(0, 0, 0, 0.642),rgba(0, 0, 0, 0.642)),  url("../assets/img/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  
}
.borroso{
    backdrop-filter: blur(5px);
    height:100%;
}
.colorNav{
    background-color: #463333c0;
}
.nav-link{
    font-size: 1.2rem;
}
.justificar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}
.principal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.galeria{
    width: 90%;
}
.carousel-item{
   height: 70vh;
}
.carousel-item img{
    height: 100%;
    object-fit: cover;
}
.piePagina{
    position:fixed;
    bottom:0;
    left:0;
    height:4rem;
    width:100%;
}
.alinear{
   text-align: center;
}
.icon{
    display: inline-block;
    font-size: 2rem;
    color: #fff;
    animation: float infinite 4s ease-in-out ;
}
.ri-facebook-circle-line{
   animation-delay: 0.5s; /*Adds a animation delay of 1 seconds.*/
}

.ri-whatsapp-line{
  animation-delay: 1s; /*Adds a animation delay of 2 seconds.*/
}
@media screen and (max-width: 768px){
    .galeria{
        width: 100%;
        height:80vh;
        display: flex;
        align-items: center;
    } 
    .icon{
        font-size: 1.5rem;
    }
    .piePagina{
        height: 3rem;
    }
}

@media screen and (max-width:1000px) and (orientation: landscape){
    h1{
        font-size: 1.2rem;
    }
    .galeria{
        display: flex;
        justify-content: center;
    } 
    .carousel-item{
        width:100%;
        height: 55vh;
    }
    .carousel-item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .icon{
        font-size: 1.5rem;
    }
    .piePagina{
        height: 3rem;
    }

}